<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productlist</title>
</head>
<body>
    <table class="product-list">
        <tr>
          <th>Product_Id</th>
          <th>Product_Name</th>
          <th>Product_Quantity</th>
        </tr>   
      
        <tr *ngFor="let prodcut of products">
          <td>{{prodcut.productId}}</td>
          <td>{{prodcut.productName}}</td>
          <td>{{prodcut.productQuantity}}</td>
          <td><button>Edit</button></td>
          <td><button (click)="deleteProduct(prodcut.productId)">Delete</button></td>
        </tr>
      </table>
</body>
</html>